<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <link rel="stylesheet" href="CssStyles\styles.css">
</head>
<body>
    
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
            <%newItems.forEach(element=>{%>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="deleteItem" value="<%= element._id%>" onchange="this.form.submit()">
                        <p><%= element.name %></p>
                    </div>
                    <input type="hidden" name="deletedItem" value="<%= listTitle %>">
                </form>
                
            <%});%>
          
            <form class="item" action="/" method="post">
                <input type="text" name="newItem" placeholder="enter new item" autocomplete="off">
                <button type="submit" name="list" value="<%= listTitle %>">+</button>
            </form>
    </div>
    
   
   
</body>
</html>